<section id="gallery" class="container">
  <div class="experience-container">
    <div class="experience-text-block">
      <h2 class="title-experience">Coffee Moments</h2>
      <p class="text-experience">Experience the warmth and community of CoffeeJoy.</p>
    </div>
    <div class="images-box">
      <ul class="list-images">
        <li class="list-item item-one">
          <div class="image-source">
            <picture>
              <source srcset="/img/experience/mobile/coffee-one-mob.jpg 1x,
                /img/experience/mobile/coffee-one-mob-2x.jpg 2x"
                      media="(max-width: 767px)" />

              <source srcset="/img/experience/tablet/coffee-one-tab.jpg 1x,
                /img/experience/tablet/coffee-one-tab-2x.jpg 2x"
                      media="(max-width: 1439px)" />

              <source srcset="/img/experience/desktop/coffee-one-desk.jpg 1x,
                /img/experience/desktop/coffee-one-desk-2x.jpg 2x"
                      media="(min-width: 1440px)" />

              <img src="/img/experience/desktop/coffee-one-desk.jpg"
                   srcset="/img/experience/desktop/coffee-one-desk.jpg 1x,
                /img/experience/desktop/coffee-one-desk-2x.jpg 2x"
                   class="img-item"
                   height="416"
                   width="416"
                   alt="Coffee" />
            </picture>
          </div>
        </li>

        <li class="list-item item-two">
          <div class="image-source">
            <picture>
              <source srcset="/img/experience/mobile/coffee-two-mob.jpg 1x,
                /img/experience/mobile/coffee-two-mob-2x.jpg 2x"
                      media="(max-width: 767px)" />

              <source srcset="/img/experience/tablet/coffee-two-tab.jpg 1x,
                /img/experience/tablet/coffee-two-tab-2x.jpg 2x"
                      media="(max-width: 1439px)" />

              <source srcset="/img/experience/desktop/coffee-two-desk.jpg 1x,
                /img/experience/desktop/coffee-two-desk-2x.jpg 2x"
                      media="(min-width: 1440px)" />

              <img src="/img/experience/desktop/coffee-two-desk.jpg"
                   srcset="/img/experience/desktop/coffee-two-desk.jpg 1x,
                /img/experience/desktop/coffee-two-desk-2x.jpg 2x"
                   class="img-item"
                   height="416"
                   width="416"
                   alt="Coffee" />
            </picture>
          </div>
        </li>

        <li class="list-item item-three">
          <div class="image-source">
            <picture>
              <source srcset="/img/experience/mobile/coffee-three-mob.jpg 1x,
                /img/experience/mobile/coffee-three-mob-2x.jpg 2x"
                      media="(max-width: 767px)" />

              <source srcset="/img/experience/tablet/coffee-three-tab.jpg 1x,
                /img/experience/tablet/coffee-three-tab-2x.jpg 2x"
                      media="(max-width: 1439px)" />

              <source srcset="/img/experience/desktop/coffee-three-desk.jpg 1x,
                /img/experience/desktop/coffee-three-desk-2x.jpg 2x"
                      media="(min-width: 1440px)" />

              <img src="/img/experience/desktop/coffee-three-desk.jpg"
                   srcset="/img/experience/desktop/coffee-three-desk.jpg 1x,
                /img/experience/desktop/coffee-three-desk-2x.jpg 2x"
                   class="img-item"
                   height="234"
                   width="416"
                   alt="Coffee" />
            </picture>
          </div>
        </li>

        <li class="list-item item-four">
          <div class="image-source">
            <picture>
              <source srcset="/img/experience/mobile/coffee-four-mob.jpg 1x,
                /img/experience/mobile/coffee-four-mob-2x.jpg 2x"
                      media="(max-width: 767px)" />

              <source srcset="/img/experience/tablet/coffee-four-tab.jpg 1x,
                /img/experience/tablet/coffee-four-tab-2x.jpg 2x"
                      media="(max-width: 1439px)" />

              <source srcset="/img/experience/desktop/coffee-four-desk.jpg 1x,
                /img/experience/desktop/coffee-four-desk-2x.jpg 2x"
                      media="(min-width: 1440px)" />

              <img src="/img/experience/desktop/coffee-four-desk.jpg"
                   srcset="/img/experience/desktop/coffee-four-desk.jpg 1x,
                /img/experience/desktop/coffee-four-desk-2x.jpg 2x"
                   class="img-item"
                   height="234"
                   width="416"
                   alt="Coffee" />
            </picture>
          </div>
        </li>

        <li class="list-item item-five">
          <div class="image-source">
            <picture>
              <source srcset="/img/experience/mobile/coffee-five-mob.jpg 1x,
                /img/experience/mobile/coffee-five-mob-2x.jpg 2x"
                      media="(max-width: 767px)" />

              <source srcset="/img/experience/tablet/coffee-five-tab.jpg 1x,
                /img/experience/tablet/coffee-five-tab-2x.jpg 2x"
                      media="(max-width: 1439px)" />

              <source srcset="/img/experience/desktop/coffee-five-desk.jpg 1x,
                /img/experience/desktop/coffee-five-desk-2x.jpg 2x"
                      media="(min-width: 1440px)" />

              <img src="/img/experience/desktop/coffee-five-desk.jpg"
                   srcset="/img/experience/desktop/coffee-five-desk.jpg 1x,
                /img/experience/desktop/coffee-five-desk-2x.jpg 2x"
                   class="img-item"
                   height="416"
                   width="416"
                   alt="Coffee" />
            </picture>
          </div>
        </li>

        <li class="list-item item-six">
          <div class="image-source">
            <picture>
              <source srcset="/img/experience/mobile/coffee-six-mob.jpg 1x,
                /img/experience/mobile/coffee-six-mob-2x.jpg 2x"
                      media="(max-width: 767px)" />

              <source srcset="/img/experience/tablet/coffee-six-tab.jpg 1x,
                /img/experience/tablet/coffee-six-tab-2x.jpg 2x"
                      media="(max-width: 1439px)" />

              <source srcset="/img/experience/desktop/coffee-six-desk.jpg 1x,
                /img/experience/desktop/coffee-six-desk-2x.jpg 2x"
                      media="(min-width: 1440px)" />

              <img src="/img/experience/desktop/coffee-six-desk.jpg"
                   srcset="/img/experience/desktop/coffee-six-desk.jpg 1x,
                /img/experience/desktop/coffee-six-desk-2x.jpg 2x"
                   class="img-item"
                   height="416"
                   width="416"
                   alt="Coffee" />
            </picture>
          </div>
        </li>

        <li class="list-item item-seven">
          <div class="image-source">
            <picture>
              <source srcset="/img/experience/mobile/coffee-seven-mob.jpg 1x,
                /img/experience/mobile/coffee-seven-mob-2x.jpg 2x"
                      media="(max-width: 767px)" />

              <source srcset="/img/experience/tablet/coffee-seven-tab.jpg 1x,
                /img/experience/tablet/coffee-seven-tab-2x.jpg 2x"
                      media="(max-width: 1439px)" />

              <source srcset="/img/experience/desktop/coffee-seven-desk.jpg 1x,
                /img/experience/desktop/coffee-seven-desk-2x.jpg 2x"
                      media="(min-width: 1440px)" />

              <img src="/img/experience/desktop/coffee-seven-desk.jpg"
                   srcset="/img/experience/desktop/coffee-seven-desk.jpg 1x,
                /img/experience/desktop/coffee-seven-desk-2x.jpg 2x"
                   class="img-item"
                   height="416"
                   width="416"
                   alt="Coffee" />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>