<!-- FOOTER -->
<footer class="page-footer">
  <div class="light-background">
    <div class="footer-wrapper">
      <div class="inner">
        <a class="logo" href="./index.html">
          <svg width="146" height="84">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer-social-list">
          <li>
            <a class="social-link" href="https://www.facebook.com/">
              <svg class="social-icon fb" width="27" height="27">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social-link" href="https://www.instagram.com/">
              <svg class="social-icon insta" width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social-link" href="https://www.twitter.com/">
              <svg class="social-icon twitter" width="24" height="22">
                <use href="/img/icons.svg#x-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <nav class="footer-nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#benefits">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonial">Testimonial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#location">Location</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <p class="footer-text">© 2026 CoffeeJoy. All rights reserved.</p>
</footer>
