    <!-- Mobile menu -->
    <div class="mobile-menu">
      <div class="mobile-menu-container">
          <div class="mobil-top">
            <button type="button" class="mobile-menu-close-btn">
              <svg class="close-btn" width="24" height="24" >
                <use href="/images/icons.svg#close-icon"></use>
              </svg>
            </button>
            <a class="mob-logo" href="./index.html">
                  <svg width="63" height="36">
                    <use href="/images/icons.svg#icon-logo"></use>
                  </svg>
                </a>
          </div>
        <nav class="mobile-menu-nav">
        <ul class="nav-list">
                  <li class="nav-item">
                  <a class="nav-link" href="#about">About us</a>
                  </li>
                  <li class="nav-item">
              <a class="nav-link" href="#benefits">Benefits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#testimonial">Testimonial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#location">Location</a>
            </li>
        </ul>
      </nav>
    </div>
  </div>