<section class="testimonial-section" id="testimonial">
    <div class="container">
        <h2 class="testimonial-title">What our visitors say</h2>

        <ul class="testimonials-list">
            <li class="testimonials-item">
                <div class="testimonials-rating">
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon empty" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                </div>
                <p class="testimonials-text">"Every cup feels like a warm hug! I’m addicted to their seasonal flavors!"</p>
                <h3 class="testimonials-name">Name Surname</h3>
            </li>
        
            <li class="testimonials-item">
                <div class="testimonials-rating">
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon empty" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                </div>
                <p class="testimonials-text">"CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance is so inviting, and the baristas are always
                friendly."</p>
                <h3 class="testimonials-name">Alice Johnson</h3>
            </li>
        
            <li class="testimonials-item">
                <div class="testimonials-rating">
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                </div>
                <p class="testimonials-text">"I love the variety of blends offered at CoffeeJoy. Every visit feels like a new experience!"</p>
                <h3 class="testimonials-name">Michael Smith</h3>
            </li>
        
            <li class="testimonials-item">
                <div class="testimonials-rating">
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon empty" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon empty" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                </div>
                <p class="testimonials-text">"The pastries are to die for! I can’t resist pairing them with my favorite latte. Highly recommend this spot!"</p>
                <h3 class="testimonials-name">Emily Davis</h3>
            </li>
        
            <li class="testimonials-item">
                <div class="testimonials-rating">
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                </div>
                <p class="testimonials-text">"A cozy little gem! CoffeeJoy has the best cold brew in town. I come here every weekend!"</p>
                <h3 class="testimonials-name">James Brown</h3>
            </li>
        
            <li class="testimonials-item">
                <div class="testimonials-rating">
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon empty" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon empty" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                </div>
                <p class="testimonials-text">“The atmosphere is perfect for working or relaxing with friends. Their Wi-Fi is
                    fast too!”</p>
                <h3 class="testimonials-name">Sarah Wilson</h3>
            </li>
        
            <li class="testimonials-item">
                <div class="testimonials-rating">
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon empty" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                </div>
                <p class="testimonials-text">"I’m addicted to their seasonal flavors! Each one is crafted with such care and creativity."</p>
                <h3 class="testimonials-name">Chris Lee</h3>
            </li>
        
            <li class="testimonials-item">
                <div class="testimonials-rating">
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                    <svg class="rating-icon empty" width="20" height="19">
                        <use href="/img/icons.svg#icon-star-outline"></use>
                    </svg>
                </div>
                <p class="testimonials-text">"I appreciate how they source their coffee beans sustainably. It's great to support such an ethical business!"</p>
                <h3 class="testimonials-name">Patricia Taylor</h3>
            </li>
        </ul>
        </div>
        </section>