<section>
  <div class="container">
    <div class="welcome-content">
      <div class="welcome-header">
        <div class="welcome-box">
          <p class="welcome">Welcome</p>
          <h2 class="title">Our Journey: Passion for Quality Coffee</h2>
        </div>
        <div>
          <p class="description">
            At CoffeeJoy, we believe that every cup tells a story. Our mission
            is to bring you the finest coffee experiences, crafted with care and
            dedication. We are committed to sourcing high-quality beans and
            roasting them to perfection, ensuring each sip is a delight.
          </p>

          <a href="#location" class="btn">
            Find location
            <svg class="btn-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-map-pin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="img-welcome">
        <picture class="img-welcome-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/welcome/welcome-desk.jpg    1x,
              /img/welcome/welcome-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/welcome/welcome-tab.jpg    1x,
              /img/welcome/welcome-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/welcome/welcome-mob.jpg    1x,
              /img/welcome/welcome-mob-2x.jpg 2x
            "
          />

          <img
            class="img-welcome-img"
            src="/img/welcome/welcome-desk.jpg"
            alt="Welcome to CoffeeJoy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
