<section class="welcome-section">
  <div class="container">
    <div class="welcome-content">
      <div class="welcome-header">
        <div>
          <p class="welcome">Welcome</p>
          <h2 class="title">Our Journey: Passion for Quality Coffee</h2>
        </div>

        <div>
          <p class="description">
            At CoffeeJoy, we believe that every cup tells a story. Our mission
            is to bring you the finest coffee experiences, crafted with care and
            dedication. We are committed to sourcing high-quality beans and
            roasting them to perfection, ensuring each sip is a delight.
          </p>

          <a
            class="btn"
            href="https://www.google.com.ua/maps/place/263+Newbury+St,+Boston,+MA+02116,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@42.3495814,-71.0859415,17z/data=!3m1!4b1!4m6!3m5!1s0x89e37a0f084cda31:0x2c61033530218739!8m2!3d42.3495775!4d-71.0833666!16s%2Fg%2F11bw3z20x1?entry=ttu&g_ep=EgoyMDI2MDIxMC4wIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer"
          >
            Find location
            <svg class="btn-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-map-pin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="img-welcome">
        <picture class="img-welcome-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/welcome/welcome-desk.jpg    1x,
              /img/welcome/welcome-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/welcome/welcome-tab.jpg    1x,
              /img/welcome/welcome-tab-2x.jpg 2x
            "
          />

          <img
            class="img-welcome-img"
            src="/img/welcome/welcome-mob.jpg"
            srcset="
              /img/welcome/welcome-mob.jpg    1x,
              /img/welcome/welcome-mob-2x.jpg 2x
            "
            alt="Welcome to CoffeeJoy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
