/* --------------Footer---------------- */
.page-footer {
    background-color: #b58869;
    padding: 24px 16px;
}
.footer-wrapper {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 32px;
background-color: #C29D84;
border: 1px solid rgba(11, 8, 3, 0.15);
border-radius: 40px;
max-width: 288px;
width: 100%;
margin: 0 auto;
padding: 32px 48px;
}
.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}
.logo {
    margin-bottom: 0;
    width: 196px;
    height: 84px;
}
footer .logo svg, footer .social-link svg {
    fill: #0B0803;
}
.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 0;
}
footer .social-link {
    width: 32px;
    height: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
}
footer .nav-link {
    color: #0B0803;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer .social-link:hover,
footer .social-link:focus,
footer .nav-link:hover,
footer .nav-link:focus {
    opacity: 0.5;
}
footer .nav-link:active,
footer .social-link:active{
    opacity: 0.2;
}
.footer-text {
    color: #0B0803;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 32px 0 24px 0;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .page-footer {
    padding: 24px 32px;
}
    .logo {
    width: 84px;
    height: 36px;
}
   .logo svg {
    width: 63px;
    height: 36px;
   }
   .social-link {
    width: 24px;
    height: 24px;
   }
    .inner {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
   }
    footer .nav-list {
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;
 }
   .footer-wrapper {
    max-width: 704px;
    width: 100%;
}
}
@media screen and (min-width: 1440px) {
   .page-footer {
    padding: 24px 64px;
}
   .footer-wrapper {
    max-width: 1440px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
    footer .nav-list {
    flex-direction: row;
    gap: 32px;
    align-items: center;
    width: 100%;
}
footer .nav-link {
  white-space: nowrap;
}
.inner {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 40px;
    width: 100%;
}
}