.page-header {
 width: 100%;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  height: 72px;
}
.header-logo {
  width: 84px;
  display: inline-flex;
  justify-content: center;
  align-items: center
} 
.nav-list {
  display: none;  
}
.menu-button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.burger-icon {
  display: block;
  fill: #0b0803;
}

@media only screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding: 18px 64px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }
  .nav-link {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0803;
    display: block;
  }
  .nav-link:hover,
  .nav-link:focus {
    opacity: 0.5;
  }
  .nav-link:active {
    opacity: 0.2;
  }
  .menu-button {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
  }
}